
.col-md-5 {

	margin: 0 auto; 
    width:0 auto;



	}	    


.red{
    color:red;
    }
.form-area
{
    background-color: #FAFAFA;
	padding: 10px 40px 60px;
	margin: 10px 0px 60px;
	border: 1px solid GREY;
	}